

.scroll-title{
    
}

.scroll-title-inner{
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #d1dbe5;
    border-left: none;
}

.scroll-title-slider {
	min-height: 30px;
}

.scroll-title-list{
    width: 100%;
    display: flex;
    position: relative;
    z-index: 10;
    &::after{
        content: '';
        clear: both;
        width: 0;
        height: 0;
    }
}

.scroll-title-item{
    cursor: pointer;
    flex: 1;
    position: relative;
    overflow: hidden;
    color: #8391a5;
    min-height: 30px;
}

.scroll-title-item-active{
    color: #000;
}

.scroll-title-cursor{
    position: absolute;
    z-index: 1;
    background: linear-gradient(rgb(60, 60, 60), #16dabf ,#3c3c3c );
    height: 100%;
}